<div class="page-header ratio" style="--bs-aspect-ratio: 30%;">

  <img src="/assets/images/r7.jpg" class="d-block w-100" alt="..." />

  <div class="glass d-flex align-items-center text-light">
    <div class="container">
      <div class="row">
        <div class="col col-md-6">

          <h1 class="display-4 mb-3 mb-md-5 wow slideInLeft" data-wow-duration="0.2s" data-wow-delay="0.5s">
            <small class="fw-light d-block">Lorem ipsum dolor sit amet,</small>
            <strong class="fw-bold"><span class="main-text"> Portfoliomuz</span>.</strong>
          </h1>

          <button type="button" class="btn btn-outline-light py-md-2 px-md-4 rounded-pill">
            Ətraflı məlumat
            <i class="bi bi-arrow-right ms-3"></i>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
