<section class="about py-5">
    <div class="container-lg">
        <div class="row  align-items-center align-content-center">
          <div class="col-md-6 mt-5 mt-md-0">
              <div class="text-center hover-overlay">
                  <img src="/assets/images/r5.jpg" class="mw-100 img-fluid rounded img-thumbnail" alt="#">
              </div>
          </div>
          <div class="col-md-6  mt-5 mt-md-0 order-md-first">
              <div class="home-text">
                  <h6 class="fs-3 fw-bold">Rifah Soft</h6>
                  <h2 class="fs-2 text-primary bw-bold">Lorem ipsum dolor sit amet.</h2>
                  <p class="mt-4 text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore libero  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore libero optio quo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore libero Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore libero?</p>
                  <button type="button" class="btn btn-outline-primary py-md-2 px-md-4 rounded-pill">
                    Ətraflı məlumat
                    <i class="bi bi-arrow-right ms-3"></i>
                  </button>
              </div>    
          </div>  
       </div>
      </div>
  </section>
  