<footer class="text-center text-lg-start footer  text-muted mt-5">
    <section class="pt-4">
        <div class="text-center me-3 fs-4">
            <ul class="list-inline mt-5 fs-4 text-light">
               <li class="list-inline-item"><a href="#"><i class="bi bi-facebook text-dark" aria-hidden="true"></i></a></li>
               <li class="list-inline-item"><a href="#"><i class="bi bi-instagram  text-dark" aria-hidden="true"></i></a></li>
               <li class="list-inline-item"><a href="#"><i class="bi bi-twitter  text-dark" aria-hidden="true"></i></a></li>
               <li class="list-inline-item"><a href="#"><i class="bi bi-linkedin text-dark" aria-hidden="true"></i></a></li>
            </ul>
        </div> 
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3"> 
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4"> 
            <h6 class="fw-bold mb-4 fs-2 name-logo text-primary">
              Rifah Soft
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4  text-dark">
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p class="hover">
              <a href="#!" class="text-reset text-decoration-none">Angular</a>
            </p>
            <p class="hover">
              <a href="#!" class="text-reset text-decoration-none">React</a>
            </p>
            <p class="hover">
              <a href="#!" class="text-reset text-decoration-none">Vue</a>
            </p>
            <p class="hover">
              <a href="#!" class="text-reset text-decoration-none">Laravel</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4  text-dark">
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p class="hover">
              <a href="#!" class="text-reset text-decoration-none">Pricing</a>
            </p>
            <p class="hover">
              <a href="#!" class="text-reset text-decoration-none">Settings</a>
            </p>
            <p class="hover">
              <a href="#!" class="text-reset text-decoration-none">Orders</a>
            </p>
            <p class="hover">
              <a href="#!" class="text-reset text-decoration-none">Help</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4  text-dark">
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="bi bi-house-door me-3"></i> Baku Azerbaijan 1152</p>
            <p>
              <i class="bi bi-envelope-open me-3"></i>
              info@example.com
            </p>
            <p><i class="bi bi-telephone-outbound me-3"></i> +994 55 543 49 72</p>
            <p><i class="bi bi-printer me-3"></i> +994 55 543 49 72</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark text-decoration-none" href="https://github.com/ayshenm">Aisha Mirza</a>
    </div>
    
  </footer>