<nav class="main-nav navbar navbar-expand-lg navbar-light container d-flex bg-white">

    <a class="navbar-brand logo text-primary p-0" href="index.html">RifahSoft</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="main-navbar navbar-nav ms-auto pt-3 pt-md-0">

            <li class="nav-item p-md-2">
                <a class="nav-link px-3 py-md-2 rounded-pill active fs-5" aria-current="page" href="index.html">
                    Ana səhifə
                </a>
            </li>

            <li class="nav-item p-md-2">
                <a class="nav-link px-3 py-md-2 rounded-pill fs-5" href="about.html">
                    Haqqımızda
                </a>
            </li>

            <li class="nav-item p-md-2">
                <a class="nav-link px-3 py-md-2 rounded-pill fs-5" href="services.html">
                    Xidmətlərimiz
                </a>
            </li>

            <li class="nav-item p-md-2">
                <a class="nav-link px-3 py-md-2 rounded-pill fs-5" href="portfolio.html">
                    Portfolio
                </a>
            </li>
            <li class="nav-item p-md-2">
                <a class="nav-link px-3 py-md-2 rounded-pill fs-5" href="partners.html">
                   Partnyorlar
                </a>
            </li>
            <li class="nav-item p-md-2">
                <a class="nav-link px-3 py-md-2 rounded-pill fs-5" href="contacts.html">
                    Əlaqə
                </a>
            </li>

        </ul>
    </div>

</nav>