<section class="portfolio py-5" id="portfolio">
    <div class="container-lg py-4">
         <div class="row">
             <div class="col-md-6 col-lg-4">
                 <div class="portfolio-item">
                     <img src="/assets/images/portfolio/2.jpg" class="w-100 img-thumbnail" alt="#">
                     <h3 class="text-capitalize fs-5 my-2">team section</h3>
                     <p class="mb-4"><a href="#" class="text-danger text-decoration-none">Live Demo</a></p>
                 </div>
             </div>
             <div class="col-md-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="/assets/images/portfolio/3.jpg" class="w-100 img-thumbnail" alt="#">
                    <h3 class="text-capitalize fs-5 my-2">app landing page</h3>
                    <p class="mb-4"><a href="#" class="text-danger text-decoration-none">Live Demo</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="/assets/images/portfolio/4.jpg" class="w-100 img-thumbnail" alt="#">
                    <h3 class="text-capitalize fs-5 my-2">creative team section</h3>
                    <p class="mb-4"><a href="#" class="text-danger text-decoration-none">Live Demo</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="/assets/images/portfolio/5.jpg" class="w-100 img-thumbnail" alt="#">
                    <h3 class="text-capitalize fs-5 my-2">toggle pricing table</h3>
                    <p class="mb-4"><a href="#" class="text-danger text-decoration-none">Live Demo</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="/assets/images/portfolio/6.jpg" class="w-100 img-thumbnail" alt="#">
                    <h3 class="text-capitalize fs-5 my-2">bootstrap 5 image gallery</h3>
                    <p class="mb-4"><a href="#" class="text-danger text-decoration-none">Live Demo</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="/assets/images/portfolio/2.jpg" class="w-100 img-thumbnail" alt="#">
                    <h3 class="text-capitalize fs-5 my-2">filterable image gallery</h3>
                    <p class="mb-4"><a href="#" class="text-danger text-decoration-none">Live Demo</a></p>
                </div>
            </div>
         </div>
    </div>
</section>