 <div class="container-fluid py-5 my-5">
         <div class="row">
            <div class="col-md-6 text-dark fs-4 rounded shadow-sm">
                <h6 class="text-uppercase fw-bold mb-4 contact-up">
                  Əlaqə:
                </h6>

                <p><i class="bi bi-house-door me-1"></i> Baku Azerbaijan 1152</p>

                <p><i class="bi bi-envelope-open me-1"></i>
                  info@example.com
                </p>
                <p><i class="bi bi-telephone-outbound me-1"></i> +994 55 543 49 72</p>
                <p><i class="bi bi-printer me-3"></i> +994 55 543 49 72</p>
              </div>

            <div class="col-md-6 order-first">
                <div class="ratio ratio-4x3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3040.1327407106396!2d49.82031981565134!3d40.36158096691521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dd21a0172f5%3A0xd9374a7bf69df148!2sParlament%20Prospekti%2C%20Bak%C4%B1%2C%20Az%C9%99rbaycan!5e0!3m2!1saz!2s!4v1622302354294!5m2!1saz!2s" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
            </div>
         </div>
         </div>
        </div>
        </div>
        
      