@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root{
    --main-color: #0073ff
    
}

@media (min-width: 960px) {
    body{
        padding-top: 72px !important;
    }
}

@media (max-width: 959px) {
    body{
        padding-top: 56px !important;
    }
}

.ratio img{
    object-fit: cover;
    object-position: center;
}

.glass{
    background-color: rgba(0, 0, 0, 0.7);
}

.main-text{
    color: var(--main-color);
}

/*====================================================================================================================*/
/* Main Header */
/*====================================================================================================================*/
.main-navbar li:hover > a{
    background-color: #f5f5f5;
}

.main-navbar li > .active{
    background-color: var(--main-color) !important;
    color: white !important;
}
.name-logo{
    font-size: 4rem;
    font-family: 'Great Vibes', cursive;
    letter-spacing:3px;
    color: rgb(184, 98, 98);
}
/*
@media (max-width: 960px) {
    .main-navbar li > a{
        border-radius: 0 !important;
    }
}*/


.main-carousel .ratio{
    min-height: 300px;
}


  
  footer li:hover {
      transform: translateY(-7px);
      transition:-1s;
  }
  .hover:hover{
    padding:.2rem ;
    border-radius: 3px;  
    background-color: var(--main-color); 
    color: rgb(255, 255, 255);
    transform: translateX(-7px);
    transition:-0.1s;

  }


