<div id="carouselExampleIndicators" class="carousel slide main-carousel" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">

    <div class="carousel-item ratio ratio-21x9 active">
      <img src="/assets/images/r4.jpg" class="d-block w-100" alt="...">

      <div class="glass d-flex align-items-center text-light">
        <div class="container">
          <div class="row">
            <div class="col col-md-6">

              <h1 class="display-4 mb-3 mb-md-5 wow slideInLeft" data-wow-duration="0.2s" data-wow-delay="0.5s">
                <small class="fw-light d-block">Lorem ipsum dolor sit amet,</small>
                <strong class="fw-bold">consectetur <span class="main-text">adipisicing</span>.</strong>
              </h1>

              <button type="button" class="btn btn-outline-light py-md-2 px-md-4 rounded-pill">
                Ətraflı məlumat
                <i class="bi bi-arrow-right ms-3"></i>
              </button>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="carousel-item ratio ratio-21x9">

      <img src="/assets/images/r5.jpg" class="d-block w-100" alt="...">

      <div class="glass d-flex align-items-center text-light">
        <div class="container">
          <div class="row">
            <div class="col col-md-6">

              <h1 class="display-4 mb-3 mb-md-5 wow animate__animated slideInLeft" data-wow-duration="0.2s" data-wow-delay="0.5s">
                <small class="fw-light d-block">Lorem ipsum dolor sit amet,</small>
                <strong class="fw-bold">consectetur adipisicing.</strong>
              </h1>

              <button type="button" class="btn btn-outline-light py-md-2 px-md-4 rounded-pill ">
                Ətraflı məlumat
                <i class="bi bi-arrow-right ms-3 "></i>
              </button>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="carousel-item ratio ratio-21x9">

      <img src="/assets/images/r7.jpg" class="d-block w-100" alt="...">

      <div class="glass d-flex align-items-center text-light">
        <div class="container">
          <div class="row">
            <div class="col col-md-6">

              <h1 class="display-4 mb-3 mb-md-5 wow animate__animated slideInLeft" data-wow-duration="0.2s" data-wow-delay="0.5s">
                <small class="fw-light d-block">Lorem ipsum dolor sit amet,</small>
                <strong class="fw-bold">consectetur adipisicing.</strong>
              </h1>

              <button type="button" class="btn btn-outline-light py-md-2 px-md-4 rounded-pill">
                Ətraflı məlumat
                <i class="bi bi-arrow-right ms-3"></i>
              </button>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!--<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>-->

</div>